@media only screen and (max-width: 1000px) {
  #addpost {
    width: 90%;
    margin-left: 5%;
    margin-right: 5%;
    position: absolute;
    top: 100px;
    overflow: scroll;
  }
  #editor-form {
    width: 90%;
    padding-bottom: 100px;
  }

  .form-input {
   width: 100%;
  }

  #editor-form-btn {
    margin-top: 20px;
    font-size: 16px;
    font-weight: 500;
  }
}

@media only screen and (min-width: 1001px) {
  #addpost {
    width: 500px;
    position: relative;
    overflow: scroll;
  }

  #editor-form {
    width: 90%;
    margin: 10px;
    justify-content: center;
  }

  .form-input {
    width: 100%;
  }

  .form-input {
    margin: 5px;
    border: 1px solid #ccc;
    border-radius: 10px;
    height: 30px;
    background-color: white;
    text-align: center;
  }

  #editor-form-btn {
    margin: 5px;
    font-size: 20px;
    font-weight: 700;
  }
}

#addpost {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

#editor-form {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.form-input {
  margin: 5px;
  border: 1px solid #ccc;
  border-radius: 10px;
  height: 30px;
  background-color: white;
  text-align: center;
}

#editor-form-btn {
  color: aliceblue;
  background-color: rgb(82, 170, 68);
  text-align: center;
  width: 100px;
  height: 40px;
  border: none;
  border-radius: 10px;
}

#editor-form label{
  margin: 10px;
  font-size: 20px;
  font-weight: 700;
  display: flex;
}

.add-coverimg{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
}

.add-coverimg p{
  font-size: 18px;
  font-weight: 700;
}

.update-post-img{
  width: 100%;
  display: flex;
  margin-top: 50px;
  justify-content: center;
  align-items: center;
}