@media only screen and (max-width: 1000px) {
  #home-page {
    position: -webkit-sticky;
    position: relative;
    top: 100px;
    width: 90%;
    margin: 0 auto;
  }
  #popular {
    display: none;
  }
  #leftpage {
    display: none;
  }
  #posts {
    padding-bottom: 100px;
  }
}

@media only screen and (min-width: 1001px) {
  #home-page {
    position: relative;
    height: 100%;
    width: 35%;
    padding-left: 2.5%;
    padding-right: 2.5%;
    display: flex;
    flex-direction: column;
    overflow: scroll;
  }

  #posts {
    position: relative;
    top: 0;
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    overflow: scroll;
  }
}
